section {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    justify-content: center;
    margin:0 auto;
    position:relative;
    top:13%;


}
.tinytext2{

}
.tinyimg img{
    background: rgb(212, 190, 190);
    padding:10px;
    border-radius:8px;
}
.tinyimg .charte{
    width:47px;
}

box1 {
    background: #ffff;
    aspect-ratio: 1/1;
border-radius:8px;
}

section .tinytext {
    font-weight: 500;
}

box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 4fr));
    /* row-gap: 20px; */
    gap: 56px;
    width: 100%;
}




@media screen and (max-width:1000px) {
    box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 4fr));
    }
}