mini{
    display:flex;
}
.tinypic {
    text-align: center;
    background:#ffff;
}

.text_1 {
    font-size: 13px;
    font-weight: 300;
    background:#ffff;
}

.text_2 {
    font-size: 12px;
    font-weight: 500;
    background:#ffff;
}

.fris {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:#ffff;
    
}

buttons {
    color: white;
    background: #223DBB;
    font-size: 10px;
    padding: 05px;
    border-radius: 4px;
}

mix {
    border-radius:7px;
}
